



<ion-content>

  <ion-row>
    <ion-col size="6">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Argent économisé sur 1 semaine</ion-card-subtitle>
          <ion-button fill="outline" slot="end">View</ion-button>
          <ion-card-title>25 €</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-img class="logosmoke" src="/assets/icon/8.png"></ion-img>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>

      <ion-col size="6">
        <ion-card class="card2">
          <ion-card-header>
            <ion-card-subtitle>Argent économisé sur 1 mois</ion-card-subtitle>
            <ion-button fill="outline" slot="end">View</ion-button>
            <ion-card-title>100 €</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-img class="logosmoke" src="/assets/icon/8.png"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-col>

  </ion-row>


  <ion-row>
    <ion-col size="6">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Argent économisé sur 6 mois</ion-card-subtitle>
          <ion-button fill="outline" slot="end">View</ion-button>
          <ion-card-title>600 €</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-img class="logosmoke" src="/assets/icon/8.png"></ion-img>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>

      <ion-col size="6">
        <ion-card class="card2">
          <ion-card-header>
            <ion-card-subtitle>Argent économisé sur 1 an</ion-card-subtitle>
            <ion-button fill="outline" slot="end">View</ion-button>
            <ion-card-title>1200 €</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-img class="logosmoke" src="/assets/icon/8.png"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-col>

  </ion-row>

  <ion-row>
    <ion-col size="6">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Cigarette économiser</ion-card-subtitle>
          <ion-button fill="outline" slot="end">View</ion-button>
          <ion-card-title>10 cigarettes</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-img class="logosmoke" src="/assets/icon/9.png"></ion-img>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>

      <ion-col size="6">
        <ion-card class="card2">
          <ion-card-header>
            <ion-card-subtitle>Cigarette économiser</ion-card-subtitle>
            <ion-button fill="outline" slot="end">View</ion-button>
            <ion-card-title>50 cigarettes</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-img class="logosmoke" src="/assets/icon/9.png"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-col>

  </ion-row>







</ion-content>




