ion-content{
  background: linear-gradient(to right, #e1e1e1, #f7f7f7, #e1e1e1 );
}

ion-card{
  background: white;
}

ion-header ion-text {
  text-align:center!important;
  margin-bottom: 400px;
}


ion-img {
  max-width: 25%;
}

ion-img.logosmoke {
  margin-left: 38%

}

ion-card-header {
  text-align: center;
}



ion-card.card2 {

  margin-top: -5%;
}

ion-card.block2 {
  background-color: #d33939;
}

