<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form (ngSubmit)="login()" [formGroup]="loginForm">
    <ion-list inset>
      <ion-item>
        <ion-input type="text" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
      </ion-item>

    </ion-list>

    <div padding-horizontal>
      <div class="form-error">{{loginError}}</div>

      <button ion-button full type="submit" [disabled]="!loginForm.valid">Log in</button>
      <div class="login-footer">
        <p>
          <a href="#">Forgot password?</a>
          If you're a new user, please sign up.
        </p>
      </div>
    </div>





  </form>

</ion-content>
