ion-col{
  height: 150px;
  background-color: cornflowerblue;
  margin: 10px;
  text-align: center;

  padding-top: 50px;

  border-radius: 35px 35px 35px 35px;
  -moz-border-radius: 35px 35px 35px 35px;
  -webkit-border-radius: 35px 35px 35px 35px;
  border: 0px solid #000000;

}