<ion-header>
  <ion-toolbar>
    <ion-title>Arrêt du Tabac</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col>
        Argent économisé / semaine<p>25 €</p>
      </ion-col>
      <ion-col>
        Goudron non ingéré / semaine
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Nicotine non ingérée / semaine
      </ion-col>
      <ion-col>
        Jours sans fumer
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Grâce aux economies tu peux acheter
      </ion-col>
      <ion-col>
        ion-col
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
