

  <ion-header>
    <ion-toolbar>
      <ion-col col-6>
        <ion-title>Recompenses</ion-title>
      </ion-col>
    </ion-toolbar>
  </ion-header>




  <ion-content color="linear-gradient(to right, #e1e1e1, #f7f7f7, #e1e1e1)">

  <ion-row>
    <ion-col size="6">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Jour sans fumer</ion-card-subtitle>
          <ion-button fill="outline" slot="end">View</ion-button>
          <ion-card-title>1 jour</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-img class="logosmoke" src="/assets/icon/8.png"></ion-img>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col>

      <ion-col size="6">
      <ion-card class="card2">
        <ion-card-header>
          <ion-card-subtitle>Jour sans fumer</ion-card-subtitle>
          <ion-button fill="outline" slot="end">View</ion-button>
          <ion-card-title>7 jours</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-img class="logosmoke" src="/assets/icon/8.png"></ion-img>
        </ion-card-content>
      </ion-card>
    </ion-col>
    </ion-col>

  </ion-row>


  <ion-row>
    <ion-col size="6">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Jours sans fumer</ion-card-subtitle>
          <ion-button fill="outline" slot="end">View</ion-button>
          <ion-card-title>30 jours</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-img class="logosmoke" src="/assets/icon/8.png"></ion-img>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>

      <ion-col size="6">
        <ion-card class="card2">
          <ion-card-header>
            <ion-card-subtitle>Jour sans fumer</ion-card-subtitle>
            <ion-button fill="outline" slot="end">View</ion-button>
            <ion-card-title>365 jours</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-img class="logosmoke" src="/assets/icon/8.png"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-col>

  </ion-row>

  <ion-row>
    <ion-col size="6">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Cigarette économiser</ion-card-subtitle>
          <ion-button fill="outline" slot="end">View</ion-button>
          <ion-card-title>10 cigarettes</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-img class="logosmoke" src="/assets/icon/9.png"></ion-img>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>

      <ion-col size="6">
        <ion-card class="card2">
          <ion-card-header>
            <ion-card-subtitle>Cigarette économiser</ion-card-subtitle>
            <ion-button fill="outline" slot="end">View</ion-button>
            <ion-card-title>50 cigarettes</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-img class="logosmoke" src="/assets/icon/9.png"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-col>

  </ion-row>

  <ion-row>
    <ion-col size="6">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Cigarette économiser</ion-card-subtitle>
          <ion-button fill="outline" slot="end">View</ion-button>
          <ion-card-title>100 cigarettes</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-img class="logosmoke" src="/assets/icon/9.png"></ion-img>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>

      <ion-col size="6">
        <ion-card class="card2">
          <ion-card-header>
            <ion-card-subtitle>Cigarette économiser</ion-card-subtitle>
            <ion-button fill="outline" slot="end">View</ion-button>
            <ion-card-title>1000 cigarettes</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-img class="logosmoke" src="/assets/icon/9.png"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-col>

  </ion-row>

  <ion-row>
    <ion-col size="6">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Argent économiser</ion-card-subtitle>
          <ion-button fill="outline" slot="end">View</ion-button>
          <ion-card-title>50 €</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-img class="logosmoke" src="/assets/icon/get-money.png"></ion-img>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>

      <ion-col size="6">
        <ion-card class="card2">
          <ion-card-header>
            <ion-card-subtitle>Argent économiser</ion-card-subtitle>
            <ion-button fill="outline" slot="end">View</ion-button>
            <ion-card-title>100 €</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-img class="logosmoke" src="/assets/icon/get-money.png"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-col>

  </ion-row>

  <ion-row>
    <ion-col size="6">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Argent économiser</ion-card-subtitle>
          <ion-button fill="outline" slot="end">View</ion-button>
          <ion-card-title>500 €</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-img class="logosmoke" src="/assets/icon/get-money.png"></ion-img>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>

      <ion-col>
        <ion-card class="card2">
          <ion-card-header>
            <ion-card-subtitle>Argent économiser</ion-card-subtitle>
            <ion-button fill="outline" slot="end">View</ion-button>
            <ion-card-title>1000 €</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-img class="logosmoke" src="/assets/icon/get-money.png"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-col>

  </ion-row>



</ion-content>




