<ion-header>
  <ion-toolbar>
    <ion-title>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="linear-gradient(to right, #e1e1e1, #f7f7f7, #e1e1e1)">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Distance :</ion-card-title>
      <hr/>
    </ion-card-header>

    <ion-card-content>
      content
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Etages montés :</ion-card-title>
      <hr/>
    </ion-card-header>

    <ion-card-content>
      content
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Nombre de pas :</ion-card-title>
      <hr/>
    </ion-card-header>

    <ion-card-content>
      content
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Bar Chart
    </ion-card-header>
    <ion-card-content (click)="displayChart()">
      <canvas #barCanvas></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>
