<ion-content>


  <ion-img src="/assets/icon/logo3.png"></ion-img>



  <ion-grid>
    <ion-row>
      <ion-col col-4>
      </ion-col>

      <ion-col col-4>
        <ion-button routerLink="/tab4"  shape="round">Arrêt du tabac</ion-button>
      </ion-col>
      <ion-col col-4>

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col col-4>
      </ion-col>

      <ion-col col-4>
        <ion-button routerLink="/tab5"  class="ion-text-center" shape="round">Podomètre</ion-button>
      </ion-col>
      <ion-col col-4>

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col col-4>
      </ion-col>

      <ion-col col-4>
        <ion-button routerLink="/tab6" shape="round">Rythme cardiaque du jour</ion-button>
      </ion-col>
      <ion-col col-4>

      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>

