<ion-header>
  <ion-toolbar>
    <ion-title>
      Accueil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="buttons">
    <ion-button href="tabac" size="large" expand="block" color="primary">Arrêt de la cigarette</ion-button>
  </div>
  <div class="buttons">
    <ion-button href="cardiaque" size="large" expand="block" color="primary">Rythme Cardiaque</ion-button>
  </div>
  <div class="buttons">
    <ion-button href="podometre" size="large" expand="block" color="primary">Podomètre</ion-button>
  </div>
  <div class="buttons">
    <ion-button href="tabs/conseils" size="large" expand="block" color="primary">Conseils arrêt tabac</ion-button>
  </div>

</ion-content>
