ion-content{
  background: linear-gradient(to right, #e1e1e1, #f7f7f7, #e1e1e1 );
}


ion-img {
  max-width: 25%;
  margin-bottom: 20%
}

ion-button {

  margin-bottom: 100px;
  margin-right: 15%;

}

.buttons {
  padding-bottom: 10px;
  padding-top: 15px;
}

