<ion-content>


  <ion-img src="/assets/icon/logo3.png"></ion-img>




  <ion-header>
    <ion-toolbar>
      <ion-title>
        Conseils
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content color="linear-gradient(to right, #e1e1e1, #f7f7f7, #e1e1e1)">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Conseil 1</ion-card-title>
        <hr/>
      </ion-card-header>

      <ion-card-content>
        La cigarette electronique sans nicotine est un très bon moyen de
        décrocher petit à petit.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Conseil 2</ion-card-title>
        <hr/>
      </ion-card-header>

      <ion-card-content>
        La cigarette electronique sans nicotine est un très bon moyen de
        décrocher petit à petit.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Conseil 3</ion-card-title>
        <hr/>
      </ion-card-header>

      <ion-card-content>
        La cigarette electronique sans nicotine est un très bon moyen de
        décrocher petit à petit.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Conseil 4</ion-card-title>
        <hr/>
      </ion-card-header>

      <ion-card-content>
        La cigarette electronique sans nicotine est un très bon moyen de
        décrocher petit à petit.
      </ion-card-content>
    </ion-card>
    <!--<ion-button (click)="testactionsheet()" expand="full" fill="outline">Ajouter un conseil</ion-button>-->
  </ion-content>


</ion-content>